@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body{
  margin: 0;
  padding: 0;
  font: 1em Noto Sans, sans-serif;
}

/* top-title */
.top-title{
  text-align: center;
  background: #333F48;
  color: #FFFFFF;
  padding: 1.5rem;
  border-bottom:#BF5700  .3em solid;
}

.top-title h1{
  font-weight: normal;
  margin: 0;
  padding: 0.5em;
  font-size: 3em;
  font-style: 
}

.top-title h2{
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
  font-style: 
}

/* Navigation bar */

#nav {
  background: #f96e5b;
  width: auto;
  text-align:center;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}

#nav ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#nav.align-right ul li {
  float: right;
}

#nav.align-center ul {
  text-align: center;
}

#nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.0rem;
  position: relative;
}

#nav ul li a:hover {
  color: #333333;
}

#nav ul li a:hover:before {
  width: 100%;
}

#nav ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#nav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
}

#nav ul li.last > a:after,
#nav ul li:last-child > a:after {
  display: none;
}

#nav ul li.active a {
  color: #333333;
}

#nav ul li.active a:before {
  width: 100%;
}

#nav.align-right li.last > a:after,
#nav.align-right li:last-child > a:after {
  display: block;
}

#nav.align-right li:first-child a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav ul li {
    float: none;
    display: block;
  }
  #nav ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #nav ul li.last > a,
  #nav ul li:last-child > a {
    border: 0;
  }
  #nav ul li a:after {
    display: none;
  }
  #nav ul li a:before {
    display: none;
  }
}

/* Page contents */
#stuffContainer{
  color: #000000;
  background:#fde9c8;
}

#myStuff{
  font-size: 1.2rem;
  padding: 1rem;
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
}

#my_pic{
  width:300px;
  float:left;
  margin: 20px;
}

#myPapers{
  font-size: 1.2rem;
  padding: 1rem;
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
}

#myPapers li{
  padding-bottom: 1rem;
}

/* Footer */
footer{
  color: #FFFFFF;
  background:#382F2D;
  margin: 0;
  padding:0;
}

footer #myRightFooter{
  margin:0 auto;
  padding: 0;
  max-width: 1000px;
}

footer p{
  margin: 0;
  padding: 1rem 1rem 1rem 0;
  text-align: left;
}

footer .icon{
  margin: 0.5rem 0.5rem 1.5rem 0;
  height: 1rem;
}
